<div class="relative z-50" role="dialog" aria-modal="true" data-action="click->command-palette#hideWithBackgroundOverlay keydown.ctrl+l->command-palette#nextPage keydown.ctrl+j->command-palette#previousPage keydown.meta+l->command-palette#nextPage keydown.meta+j->command-palette#previousPage">
  <div class="hidden fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"  
    data-command-palette-target="background"
    data-transition-enter="ease-out duration-300"
    data-transition-enter-start="opacity-0"
    data-transition-enter-end="opacity-100"
    data-transition-leave="ease-in duration-200"
    data-transition-leave-start="opacity-100"
    data-transition-leave-end="opacity-0">
  </div>

  <div class="hidden fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20"
    data-command-palette-target="panel"
    data-transition-enter="ease-out duration-300"
    data-transition-enter-start="opacity-0 scale-95"
    data-transition-enter-end="opacity-100 scale-100"
    data-transition-leave="ease-in duration-200"
    data-transition-leave-start="opacity-100 scale-100"
    data-transition-leave-end="opacity-0 scale-95">
    
    <div class="mx-auto max-w-2xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
      <%= turbo_frame_tag :command_palette do %>
        <div data-command-palette-target="content">
          <div class="relative">
            <div class="pointer-events-none absolute top-3 left-4 text-gray-400">
              <i class="text-gray-400 fas fa-fw fa-search"></i>
            </div>
            <%= form_with url: Kommandant::Engine.routes.url_helpers.searches_path, method: :get do |form| %>
              <%= form.text_field :query, value: local_assigns[:query], class: "h-12 w-full border-0 bg-transparent pl-11 pr-4 text-gray-800 placeholder-gray-400 focus:ring-0 sm:text-sm", placeholder: t(".input_placeholder"), autocomplete: "off", data: {command_palette_target: "input", action: "keyup->command-palette#submit"} %>
            <% end %>
          </div>
          <% if local_assigns[:results] %>
            <% if local_assigns[:results].empty? && local_assigns[:query] %>
              <%= render "kommandant/shared/command_palette/empty_state", query: query %>
            <% elsif local_assigns[:results].any? %>
              <!-- Results, show/hide based on command palette state. -->
              <ul class="max-h-96 overflow-y-auto p-2 text-sm text-gray-700">
                <% local_assigns[:results].each do |result| %>
                  <%= render "kommandant/shared/command_palette/command", command: result %>
                <% end %>
              </ul>
            <% end %>
          <% else %>
            <%= render "kommandant/shared/command_palette/default_state", recent_commands: local_assigns[:recent_commands] %>
          <% end %>
        </div>
        
        <%= render "kommandant/shared/command_palette/loading_message" %>
      <% end %>
    </div>
  </div>
</div>

